# Node.js dependencies

/node_modules

# Environment variables

.env

# Test output and artifacts

/reports
/screenshots
/tests_output

# Code coverage

/coverage

# Logs

\*.log

# Operating system files

.DS_Store
